:root{ /* tvrvvleed zarim oruulah ungu edre beldsen */
  --bg:#09090b;
  --border:#27272a;
  --text:#fafafa;
}
html {
  scroll-behavior: smooth;
}
*{box-sizing:border-box}
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--text); 
} 
section:first-child {/* section hesguude hamgyn exny section songoj awah */
  height: 60vh; /* vh buyu viewport height. 60% viewport height*/
}
.navbar{ 
  background-color: var(--card2);
  height: 50px;
  display: flex; /* flexible bolgono */
  flex-direction: row; /* direction ni hewtee*/
  justify-content: space-between; /* 2talruu ni salgah*/
  align-items: center; /* vgee golluulah*/
  border-bottom: 1px solid var(--border); /* dood talyn border color ni*/
  padding: 0 20px;  
  position: sticky;  /* ene 3 hog*/
  top: 0;         /* idk why its not working */
  z-index: 1000;  /* ...*/
}
.links{ 
  display: flex; 
  justify-content: space-around;
  gap: 20px; /* xoorondyn zai*/
  padding-right: 20px; /* baruun talaas ni shahaad holduulah*/
}
nav a {
  color: white; /* vgny ungu*/
  text-decoration: none; 
}
.logo{
  margin-left: 10px; /* zvvn talaas ni shahaad xolduulah*/
}
.size1{
  font-size: 40px; /* vsegny xemjee */
}
.size2{
  font-size: 20px; 
}
.about{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 50px 20px 20px 20px; /* 4talaas ni shahsan bn*/
  gap: 10px;
  width: 100%;
}
.manage{
  display: flex; 
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.pic1, .pic2, .pic3 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.picture {
  flex: 1; /* Take up available space, making it possible to shrink*/
  min-width: 0; /* Allow shrinking */

}
.picture img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px; /* zuragny bulan */
  display: block;
}
.video{
  display: flex;
  justify-content: center;
  margin-top: 18px;
  padding: 0 20px;
}

/* Responsive iframe */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.footer{
  color: var(--text);
  padding-left: 10%;
  font-size: large;
}

/* Mobile */
@media (max-width: 600px) {
  .size1 {
    font-size: 24px;
  }
  .size2 {
    font-size: 15px;
  }
  .pic1, .pic2, .pic3 {
    flex-direction: column;
    align-items: center;
  }
  .picture5, .picture1 {
    width: 100%;
    max-width: 100%;
    height: 200px;
  }
}   
